:root {
    --blue: #1992d4;
    --yellow: #f0b429;
    --gray: #e2e8f0;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}



body {
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:grid;
    height: 110vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
    "sidebar main";
}


ul {
    list-style: none;
}


.sidebar {
    background-color:var(--blue);
    grid-area: sidebar;
}


.main {
    background-color: var(--gray);
    grid-area: main;
}


.header {
    grid-area: header;
}


/* ------------------- */
/* SIDEBAR */

.sidebar {
    padding: 80px;
    z-index: 2;
}




.nav-main {
    margin-top: 250px;
}

.nav-main div:not(:last-child),
.nav-user div:not(:last-child) {
    margin-bottom: 80px;
}


/* Logo */

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 80px;
    /* outline: 1px solid red; */
}

#logo-svg {
    width: 180px;
    height: auto;
    fill: white;
}


#logo-header {
    font-size: 7rem;
    font-style: normal;
    color: white;
    font-weight: 600;
    margin: 0;
}



.sidebar h3 {
    font-size: 6rem;
    color: white;
    font-style: normal;
    margin: 0;
    font-weight: 500;
}

/* Home */




.home {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#home-svg {
    width: 70px;
    height: auto;
    margin: 0 40px;

}



/* profile */



.profile {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#profile-svg {
    width: 85px;
    height: auto;
    margin: 0 32.5px;

}


/* Message */



.messages {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#messages-svg {
    width: 85px;
    height: auto;
    margin: 0 32.5px;

}

/* History */




.history {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#history-svg {
    width: 85px;
    height: auto;
    margin: 0 32.5px;

}

/* Tasks */



.tasks {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#tasks-svg {
    width: 70px;
    height: auto;
    margin: 0 40px;

}



/* COmmunity */


.community {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#community-svg {
    width: 80px;
    height: auto;
    margin: 0 32.5px;
}






/* nav user */

.nav-user {
    margin-top: 250px;
}


.settings {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#settings-svg {
    width: 85px;
    height: auto;
    margin: 0 32.5px;

}

.privacy {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#privacy-svg {
    width: 85px;
    height: auto;
    margin: 0 32.5px;

}


.support {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: start;
}

#support-svg {
    width: 85px;
    height: auto;
    margin: 0 32.5px;

}




/* ----------------- */
/* HEADER */


/* top */
.header {
    padding: 50px 280px;
    z-index: 1;
    box-shadow: 0px 1px 50px -20px rgba(0, 0, 0, 0.5);
}

.header-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.search-panel {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  
}

.search-panel form {
    flex:1;
}




#search-svg,
#notifications-svg {
    width: 100px;
    height: auto;
}



#profile-avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 6px solid black;
}


.header-top input {
    border: 0;
    background-color: var(--gray);
    width: 80%;
    min-width:max-content;
    height: 130px;
    font-size: 4.5rem;
    padding: 60px;
    outline: 0;
    border-radius: 50px;
}

.header-top form {
    display: grid;     /* To center the input vertically */
}


.profile-name {
    font-size: 5rem;
    font-weight: 600;
}



.profile-panel {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 50px;
}


.search-panel {
    flex: 2.7;
}



/* header bottom */


#big-profile-avatar {
    border-radius: 50%;
    border: 6px solid black;
    width: 320px;
    height: auto;
}


.header-bottom {
    margin: 120px 0 50px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}



.header-bottom .buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.welcome-panel {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;

}

.welcome-message {
    flex: 1;
    min-width: 65ch;
}

.welcome-message h2 {
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
}

.welcome-message p {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}




.buttons button {
    font-size: 4rem;
    font-weight: 500;
    padding: 40px 120px;
    color: white;
    background-color: var(--blue);
    border: 0;
    border-radius: 120px;

}




